.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.default {
    padding: 100px 0;
}

/* .default .title {
    text-align: center;
} */

.default .title h2 {
    font-size: 32px;
    font-weight: 700;
    /* margin: 0 0 50px 0; */
    margin: 0 0 12px 0;
}

.default .title p {
    font-size: 16px;
    font-weight: 400;
}

.default_btn {
    display: inline-block;
    padding: 12px 32px;
    color: #fff;
    font-size: 16px;
    background: #000;
}

.default_btn:hover {
    background: #fff;
    color: #000;
    transition: 0.5s;
}

.title h2 {
    position: relative;

    font-weight: 700;
}

.title strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
}


/* .title h2::before {
    content: "";
    display: block;
    margin: 0 0 10px 0;
    width: 70px;
    height: 2px;
    background: var(--primary-color);
} */