* {
  outline: 1px solid tomato--;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;

  background: #fff;
}

#header h1 {
  line-height: 80px;
}

#header h1 img {
  width: 130px;
}

#header .header_inner {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* #header .header_inner>*{
  flex :1;
  } */
/* 이거에용 현명아^^ */

#gnb>ul {
  display: flex;
  gap: 20px;
}

#gnb>ul>li>a {
  display: block;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 80px;

}

#header .utill {
  display: flex;
  font-size: 20px;
  gap: 20px;
  line-height: 80px;

}

#header .mopen {
  display: none;
}

#header:hover {
  color: #202124;
  background: #81d8d0;
  transition: 1s;
}

#header.on {
  color: #202124;
  background: #81d8d0;
  line-height: 80px;
}

#header.on .header_inner {
  filter: invert() brightness(2);
}

@media (max-width: 768px) {
  #header h1 {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  #gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: calc(100% - 100px);

    background: #fff;
    height: 100vh;
  }

  #gnb.on {
    left: 0;
  }

  #gnb>ul {
    flex-direction: column;
    color: #fff;
    padding: 80px 0 0 0;
  }

  #gnb>ul>li>a {
    display: block;
    padding: 7px 22px;
    font-size: 18px;
    font-weight: 600;
    /* r */
    line-height: 42px;
    color: #202124;

    border-bottom: 1px solid #81d8cf48;
  }

  #header .utill {
    display: none;
  }

  #header {
    display: flex;
    align-items: center;
  }

  #header.on {
    line-height: 1;
  }

  #header .mopen {
    display: block;
  }

}

/*main_visual */

.main_visual {
  position: relative;
}

.main_visual .itm {
  position: relative;
  height: 100vh;
}

.main_visual .itm01 {
  background: url(../images/main_visual03.jpg) no-repeat top center/cover;
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}

.main_visual .itm02 {
  background: url(../images/main_visual04.jpg) no-repeat top center/cover;
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}

.main_visual .itm .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

.main_visual .itm .slogan h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5em;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.main_visual .itm .slogan span {
  display: block;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.main_visual .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1650px;
  width: 100%;
}

.main_visual .arrows button {
  position: absolute;

  background: transparent;
  border: none;
  /* padding: 5px 5px;
  box-shadow: 3px 5px 10px gray; */
}

.main_visual .arrows button i {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.main_visual .arrows .left {
  left: 0;
}

.main_visual .arrows .right {
  right: 0;
}

.roll_txt {
  position: absolute;
  top: -200px;
  right: 150px;
  width: 300px;
  height: 300px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  animation: roll 20s infinite linear;
}

.roll_txt span:nth-child(even) {
  font-weight: 700;
}

.roll_txt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 0px solid rgba(255, 255, 255, 0.3);
  outline: 1px solid #ddd;
  border-radius: 50%;
  box-sizing: border-box;
}

.roll_txt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/logo.svg) no-repeat center center/contain;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .roll_txt {
    display: none;
  }

  @keyframes roll {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

/* visual_content */

.visual_content {
  position: relative;
}

.flex_custom .itm {
  display: flex;
  align-items: center;
}

/* .flex_custom .itm>* {
  flex: 1;
} */

.flex_custom .itm .img_box {
  width: 585px;
  height: 380px;
}

.flex_custom .itm .tit {
  margin: 0 auto;
}

.flex_custom .itm01 .img_box {
  margin: 0 0 0 auto;
  background: url(../images/visual_content04.jpg) no-repeat center 80% / cover;
}

.flex_custom .itm01 .tit h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 25px 0;


}

.flex_custom .itm01 .tit strong {
  display: block;
  font-family: "Pretendard";
  font-weight: 900;
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px rgb(51, 51, 51);
  line-height: 35px;
  font-size: 100px;
}

.flex_custom .itm01 .tit p {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  word-break: keep-all;
}

.flex_custom .itm02 .tit {
  order: 1;
  margin: 0 0 0 85px;

}


.flex_custom .itm02 .tit strong {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #333;
  line-height: 12px;
  font-size: 100px;

}

.flex_custom .itm02 .tit h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.flex_custom .itm02 .tit p {
  font-family: 'Pretendard-Regular';
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  word-break: break-all;
}

.flex_custom .itm02 .img_box {
  background: url(../images/visual_content08.jpg) no-repeat center center/cover;
}

/* -------------------------- */

.visual_content {}

.visual_content .right {
  display: flex;
  align-items: center;
}

.visual_content .right .itm02 {
  height: 300px;
  background: url(../images/visual_content01.webp) no-repeat center center/cover;
}

.visual_content .right .tit {
  order: 2;
  font-family: "Noto Serif KR", serif;
  text-align: left;
  width: auto;
}

.visual_content .right .tit p {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 8px 0;
  line-height: 37px;
}

.visual_content .right .tit strong {
  /* font-family: 'Pretendard-Regular'; */
  line-height: 20px;
}

@media (max-width: 768px) {

  .visual_content {
    position: relative;
  }

  .flex_custom .itm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex_custom .itm .img_box {
    width: 585px;
    height: 380px;
  }

  .flex_custom .itm .tit {
    margin: 0 auto;
  }

  .flex_custom .itm01 .img_box {
    margin: 0 0 20px 0;
    max-width: 500px;
    width: 100%;

    height: 300px;

    background: url(../images/visual_content04.jpg) no-repeat center 80% / cover;
  }

  .flex_custom .itm01 .tit h2 {
    font-family: "Noto Serif KR", serif;
    font-size: 21px;
    text-align: center;
    font-weight: 700;
    margin: 0 0 20px 0;
  }

  .flex_custom .itm01 .tit p {
    text-align: center;
    font-family: "Pretendard-Regular";
    line-height: 22px;
    word-break: keep-all;
    margin: 0 0 20px 0;
  }

  .flex_custom .itm02 .tit {
    order: 0;
    margin: none;
  }

  .flex_custom .itm02 .tit h2 {
    font-family: "Noto Serif KR", serif;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }

  .flex_custom .itm02 .tit p {
    font-family: "Pretendard-Regular";
    line-height: 22px;
    text-align: center;
    word-break: break-all;
    margin: 0 0 20px 0;
  }

  .flex_custom .itm02 .img_box {
    background: url(../images/visual_content08.jpg) no-repeat center center/cover;
    height: 300px;
    max-width: 500px;
    width: 100%;
  }

  /* -------------------------- */

  .visual_content {}

  .visual_content .right {
    display: flex;
    align-items: center;
  }

  .visual_content .right .itm02 {
    height: 300px;
    background: url(../images/visual_content01.webp) no-repeat center center/cover;
  }

  .visual_content .right .tit {
    order: 2;
    font-family: "Noto Serif KR", serif;
    text-align: left;
    width: auto;
  }

  .visual_content .right .tit p {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 8px 0;
    line-height: 37px;
  }

  .visual_content .right .tit strong {
    font-family: 'Pretendard-Regular';
    line-height: 20px;
  }
}

/* Movie */

.Movie {}

.Movie h2 {
  font-family: "Noto Serif KR", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px 0;
}


.Movie .play_box {
  display: flex;
  height: 500px;
}

.Movie .play_box .content {
  background: tomato;
  width: 100%;
  height: 500px;
  clip-path: circle(50% at 50% 50%);
}



/* main_priduct */

.main_product {
  background: #fbf9f7;
  clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 90%);
}

.main_product .main_slide {
  padding: 100px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main_product .title {
  padding: 0 15px;
}

.main_product .title h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.main_product .title p {
  font-family: 'Pretendard-Regular';
}

.main_product .pic_slide {
  height: 400px;
}

.main_product .content {
  display: flex;
  gap: 30px;
}

.main_product .content>* {
  flex: 1;
  overflow: hidden;
}

.main_product .content img {
  border: 1px solid #dddddd73;
}

.right {
  position: relative;
  overflow: hidden;
}

.main_product .product_slide {
  margin: 0 -15px 80px -15px;
}

.main_product .product_slide figure {
  margin: 0 8px;
}

.main_product .product_slide figure img {
  height: 230px;
  object-fit: cover;
  margin: 0 0 10px 0;
  border: 1px solid #dddddd73;
}

.main_product .product_slide strong {
  /* font-family: 'Pretendard-Regular'; */
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.main_product .product_slide p {
  /* font-family: 'Pretendard-Regular'; */
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.main_product .arrows {
  display: flex;
  justify-content: flex-end;


}

.main_product .arrows i {
  padding: 5px 5px;
  font-size: 17px;
  font-weight: 600;

  background: transparent;


}

.main_product .slick-arrow {
  border: 1px solid #ddd;
  color: #202124;
  background: transparent;
  border-radius: 10%;
  margin: 0 0 5px 0;


  /*<--- 이거말하는거아님???? */
}

@media (max-width: 768px) {
  .main_product {
    background: #fbf9f7;
  }

  .main_product .main_slide {
    padding: 100px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .main_product .title {
    padding: 0 0 15px 15px;
  }

  .main_product .title h2 {
    font-family: "Noto Serif KR", serif;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }

  .main_product .title p {
    font-family: 'Pretendard-Regular';
    text-align: center;
    word-break: keep-all;
  }

  .main_product .pic_slide {
    height: 300px;
    object-fit: cover;
  }

  .main_product .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main_product .content>* {

    flex: 1;
    overflow: hidden;
  }

  .main_product .content img {
    border: 1px solid #dddddd73;
  }

  .right {
    position: relative;
    overflow: hidden;
  }

  .main_product .product_slide {
    margin: 0 -15px 40px -15px;
  }

  .main_product .product_slide figure {
    margin: 0 8px;
  }

  .main_product .product_slide figure img {
    height: 230px;
    object-fit: cover;
    margin: 0 0 10px 0;
    border: 1px solid #dddddd73;
  }

  .main_product .product_slide strong {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px 0;
  }

  .main_product .product_slide p {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }


  .main_product .content .arrows i {
    padding: 10px 10px;
    font-size: 35px;
    font-weight: 600;
    background: transparent;
    color: #2021246f;

    /* r */
    font-size: 28px;
  }

  .main_product .content .arrows button {
    border: none;
    background: transparent;

    /*<--- 이거말하는거아님???? */
  }
}

.main_portfolio {
  clip-path: polygon(100% 17%, 100% 100%, 0 100%, 0 0);
}

.main_portfolio .title h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.main_portfolio .title p {
  margin: 0 0 15px 0;
  text-align: center;
  font-family: "Pretendard-Regular";
}

.main_portfolio hr {
  display: block;
  width: 10%;
  height: 34px;
  border: none;

  border-top: 1px solid #ddd;
}

.main_portfolio .grid_container {
  display: flex;
  gap: 30px;
}

.main_portfolio .grid_container>* {
  flex: 1;
}

.main_portfolio .grid_container img {
  margin: 0 0 50px 0;
}

.main_portfolio .txt {
  display: block;
  text-align: center;
}

.main_portfolio .txt strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.main_portfolio .txt p {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 40px 0;
}

.main_portfolio .txt .btn {
  font-family: "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 400;
}

.main_portfolio .txt .btn:hover {
  color: #202124b1;
  background: #81d8d0;
  border: 1px solid #ddddddb6;
  transition: 0.5s;

}

.main_portfolio .txt .btn:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.main_portfolio .txt .btn i {
  font-size: 20px;
  vertical-align: -3px;
}

@media (max-width: 768px) {
  .main_portfolio .title h2 {
    font-family: "Noto Serif KR", serif;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 20px 0;
  }

  .main_portfolio .title p {
    margin: 0 0 15px 0;
    text-align: center;
    font-family: "Pretendard-Regular";
  }

  .main_portfolio .grid_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main_portfolio .grid_container>* {
    flex: 1;
  }

  .main_portfolio .grid_container img {
    margin: 0 0 15px 0;
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .main_portfolio .txt {
    display: block;
    text-align: center;
  }

  .main_portfolio .txt strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
  }

  .main_portfolio .txt p {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 16px 0;
  }
}

/* main_banner */

.main_banner {
  background:
    url(../images/main_banner05.jpg) no-repeat bottom/cover;
  height: 100px;
}

.main_banner .txt_area h2 {
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  color: #000000a6;
}

@media (max-width: 768px) {
  .main_banner {
    background:
      url(../images/main_banner05.jpg) no-repeat bottom/cover;
    height: 100px;
  }

  .main_banner .txt_area h2 {
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #000000a6;
    line-height: 5px;
  }
}


/* #footer {} */

#footer {
  background: #fbf9f7;
}

#footer .ft {
  border-bottom: 1px solid #dddddd8f;
}

#footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

#footer .content ul {
  display: flex;
  align-items: center;
}

#footer .content li strong {
  font-weight: 500;
}

#footer .content li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 9px;
  background: #ccc;
  margin: 0 15px;
}


#footer #fl {
  outline: none;
  border: 1px solid #fff;
  padding: 5px 20px;
  background: #81d8d0;
  color: #fff;
}

@media (max-width: 768px) {
  #footer {
    padding: 40px 0;
    background: #fbf9f7;
  }

  #footer .ft {
    border-bottom: 1px solid #dddddd8f;
    margin: 0 0 15px 0;
  }

  #footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100px;
    margin: 0 0 10px 0;
  }

  #footer .content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #footer .content li strong {
    font-weight: 700;
    color: #000000a6;
  }

  #footer .content li~li::before {
    display: none;
  }


  #footer #fl {
    display: none;
  }
}